.cards {
  margin: 257px 0 270px;
}

.cards-inner {
  display: flex;
  margin: 0 auto;
  width: 1394px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  transition: background 1s linear;
  transition: filter 0.2s linear;

  margin-right: 30px;

  background: #f8f8f8;
  
  width: 326px;
  height: 326px;

  img {
    margin: 44px 0 24px;

    width: 100px;
    height: 100px;
  }

  .item-title {
    margin-bottom: 20px;
    width: 250px;

    text-align: center;

    line-height: 33px;
    color: $primary-color;

    font-family: $font-noto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
  }

  .item-subtitle {
    width: 250px;

    text-align: center;

    line-height: 26px;
    color: $gray-color;

    font-family: $font-pt;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
  }
}

.cards-item:hover {
  filter: drop-shadow(0 12px 30px rgba(200, 180, 180, 0.2));
  background: #fff;
}

.cards-item:last-child {
  margin-right: 0;
}
