@import 'variables';
@import 'fonts';
@import 'header';
@import 'banner';

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  
  width: 100%;
  max-width: $content-width;
}
