@import 'variables';
@import 'fonts';
@import 'header';
@import 'banner';

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: $content-width;
  // padding: 0 15px;
  width: 100%;
}
