@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");
.header {
  margin: 39px 0 35px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo .logo {
  width: 47px;
  height: 45px;
}
.header-logo .title {
  width: 113px;
  height: 23px;
}
.header-logo a {
  margin-right: 15px;
}
.header-logo a:last-child {
  margin-right: 0;
}

.header-nav {
  display: flex;
}
.header-nav a {
  transition: color 0.1s linear;
  margin-right: 72px;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.header-nav a:last-child {
  margin-right: 0;
}
.header-nav a:hover {
  color: #ff715b;
}
.header-nav a::after {
  display: block;
  transition: opacity 0.1s linear;
  opacity: 0;
  background-color: #ff715b;
  width: 100%;
  height: 2px;
  content: "";
}
.header-nav a:hover::after {
  opacity: 1;
}

.header-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-info .info-icon {
  margin-right: 5px;
  color: #2c2c2c;
  font-size: 30px;
}
.header-info .info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: color 0.1s linear;
  text-decoration: none;
  line-height: 25px;
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.header-info .info-title:hover {
  color: #ff715b;
}
.header-info .info-title::after {
  display: block;
  margin: 0 15px 0 20px;
  background-color: #f1e0dd;
  width: 1px;
  height: 20px;
  content: "";
}
.header-info .info-search {
  padding-right: 15px;
  color: #2c2c2c;
}

.banner {
  position: relative;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1700px;
  height: 1000px;
}

.banner-inner {
  height: 1000px;
}
.banner-inner .banner-info {
  padding: 285px 0 0 135px;
  width: 100%;
  max-width: 804px;
}
.banner-inner .banner-title {
  margin-bottom: 50px;
  line-height: 112px;
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 84px;
  font-weight: bold;
  font-style: normal;
}

.btn-banner {
  width: 200px;
  height: 60px;
}

.banner-options {
  display: flex;
  position: absolute;
  top: 923px;
  left: 515px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 30px 5px rgba(219, 200, 197, 0.2);
  background: #fff;
  padding: 0 45px;
  width: 100%;
  max-width: 1095px;
  height: 154px;
}
.banner-options .option-block {
  margin-right: 60px;
  width: 240px;
  height: 64px;
}
.banner-options .option-title {
  margin-bottom: 10px;
  line-height: 19px;
  color: #a79997;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}
.banner-options select {
  appearance: none;
  border: 0;
  border-bottom: 1px solid #f5ebe9;
  border-radius: 0 0 0.5px 0.5px;
  padding: 0 0 11px;
  width: 100%;
  line-height: 25px;
  color: #ff715b;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
.banner-options .btn-options {
  width: 195px;
  height: 64px;
}

.banner-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
  max-width: 435px;
}
.banner-switch .switch-button {
  box-sizing: border-box;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  border: 2px solid #f5ebe9;
  background: #fff;
  cursor: pointer;
  width: 47px;
  height: 47px;
  color: #ff715b;
}
.banner-switch .switch-button:first-child {
  margin-left: 0;
}
.banner-switch .switch-button:hover {
  border: 0;
  background: #ff715b;
  color: #fff;
}
.banner-switch .switch-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  line-height: 33px;
  color: #ff715b;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
}
.banner-switch .switch-number::before {
  display: block;
  margin: 0 30px;
  background: #f5ebe9;
  width: 234px;
  height: 2px;
  content: "";
}

@media screen and (max-width: 1679px) {
  .banner {
    width: 100vw;
  }

  .banner-options {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .banner-info {
    padding-left: 100px;
  }
}
.cards {
  margin: 257px 0 270px;
}

.cards-inner {
  display: flex;
  margin: 0 auto;
  width: 1394px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 1s linear;
  transition: filter 0.2s linear;
  margin-right: 30px;
  background: #f8f8f8;
  width: 326px;
  height: 326px;
}
.cards-item img {
  margin: 44px 0 24px;
  width: 100px;
  height: 100px;
}
.cards-item .item-title {
  margin-bottom: 20px;
  width: 250px;
  text-align: center;
  line-height: 33px;
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
}
.cards-item .item-subtitle {
  width: 250px;
  text-align: center;
  line-height: 26px;
  color: #a79997;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.cards-item:hover {
  filter: drop-shadow(0 12px 30px rgba(200, 180, 180, 0.2));
  background: #fff;
}

.cards-item:last-child {
  margin-right: 0;
}

.places {
  position: relative;
}

.places::before {
  display: block;
  position: absolute;
  top: -90px;
  right: 0;
  z-index: -20;
  background: #f7f7f7;
  width: 789px;
  height: 580px;
  content: "";
}

.places-inner {
  display: flex;
  align-items: center;
}

.places-info {
  margin-right: 75px;
  width: 419px;
}
.places-info .info-title {
  line-height: 65px;
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 48px;
  font-weight: 800;
  font-style: normal;
}
.places-info span {
  color: #ff715b;
}
.places-info .info-subtitle {
  margin: 40px 0 60px;
  line-height: 26px;
  color: #a79997;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}
.places-info .btn-places {
  width: 195px;
  height: 64px;
}

.places-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.places-cards .places-item {
  position: relative;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 330px;
  height: 400px;
}
.places-cards .places-item:last-child {
  margin-right: 0;
}
.places-cards .places-title {
  position: absolute;
  top: 340px;
  left: 30px;
  line-height: 38px;
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 1680px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ff715b;
}
.button a {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  line-height: 25px;
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}
.button a::after {
  display: block;
  transition: opacity 0.1s linear;
  opacity: 0;
  background-color: #fff;
  width: 100%;
  height: 2px;
  content: "";
}
.button a:hover::after {
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
