@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");
.header {
  margin: 39px 0 35px;
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  align-items: center;
  display: flex;
}
.header-logo .logo {
  height: 45px;
  width: 47px;
}
.header-logo .title {
  height: 23px;
  width: 113px;
}
.header-logo a {
  margin-right: 15px;
}
.header-logo a:last-child {
  margin-right: 0;
}

.header-nav {
  display: flex;
}
.header-nav a {
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-right: 72px;
  text-align: center;
  text-decoration: none;
  transition: color 0.1s linear;
}
.header-nav a:last-child {
  margin-right: 0;
}
.header-nav a:hover {
  color: #ff715b;
}
.header-nav a::after {
  background-color: #ff715b;
  content: "";
  display: block;
  height: 2px;
  opacity: 0;
  transition: opacity 0.1s linear;
  width: 100%;
}
.header-nav a:hover::after {
  opacity: 1;
}

.header-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.header-info .info-icon {
  color: #2c2c2c;
  font-size: 30px;
  margin-right: 5px;
}
.header-info .info-title {
  align-items: center;
  color: #2c2c2c;
  display: flex;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  line-height: 25px;
  text-decoration: none;
  transition: color 0.1s linear;
}
.header-info .info-title:hover {
  color: #ff715b;
}
.header-info .info-title::after {
  background-color: #f1e0dd;
  content: "";
  display: block;
  height: 20px;
  margin: 0 15px 0 20px;
  width: 1px;
}
.header-info .info-search {
  color: #2c2c2c;
  padding-right: 10px;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin: 0 auto;
  position: relative;
  width: 1700px;
}

.banner-inner {
  height: 1000px;
}
.banner-inner .banner-info {
  max-width: 804px;
  padding: 285px 0 0 135px;
  width: 100%;
}
.banner-inner .banner-title {
  color: #2c2c2c;
  font-family: "Noto Serif", serif;
  font-size: 84px;
  font-style: normal;
  font-weight: bold;
  line-height: 112px;
  margin-bottom: 50px;
}

.banner-button {
  align-items: center;
  background: #ff715b;
  display: flex;
  flex-direction: column;
  height: 60px;
  justify-content: center;
  width: 200px;
}
.banner-button a {
  color: #fff;
  cursor: pointer;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
}
.banner-button a::after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  opacity: 0;
  transition: opacity 0.1s linear;
  width: 100%;
}
.banner-button a:hover::after {
  opacity: 1;
}

.banner-options {
  align-items: center;
  background: #fff;
  box-shadow: 0 10px 30px 5px rgba(219, 200, 197, 0.2);
  display: flex;
  height: 154px;
  justify-content: space-between;
  left: 515px;
  max-width: 1095px;
  padding: 0 45px;
  position: absolute;
  top: 923px;
  width: 100%;
}
.banner-options .option-block {
  height: 64px;
  width: 240px;
}
.banner-options .option-title {
  color: #a79997;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 19px;
  margin-bottom: 10px;
}
.banner-options select {
  appearance: none;
  border: 0;
  border-bottom: 1px solid #f5ebe9;
  border-radius: 0 0 0.5px 0.5px;
  color: #ff715b;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  padding: 0 0 11px;
  width: 100%;
}

.banner-switch {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 435px;
  width: 100%;
}
.banner-switch .switch-button {
  align-items: center;
  background: #fff;
  border: 2px solid #f5ebe9;
  box-sizing: border-box;
  color: #ff715b;
  cursor: pointer;
  display: flex;
  height: 47px;
  justify-content: center;
  margin-left: 20px;
  position: relative;
  width: 47px;
}
.banner-switch .switch-button:first-child {
  margin-left: 0;
}
.banner-switch .switch-button:hover {
  background: #ff715b;
  border: 0;
  color: #fff;
}
.banner-switch .switch-number {
  align-items: center;
  color: #ff715b;
  display: flex;
  font-family: "Noto Serif", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  justify-content: space-between;
  line-height: 33px;
  text-align: center;
}
.banner-switch .switch-number::before {
  background: #f5ebe9;
  content: "";
  display: block;
  height: 2px;
  margin: 0 30px;
  width: 234px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .banner-info {
    padding-left: 100px;
  }
}
body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1680px;
  padding: 0 10px;
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
